In [1]:
import pandas as pd
import os

from sqlalchemy import create_engine, text

#maximum number of rows to display
pd.options.display.max_rows = 20

engine=create_engine('postgresql://team4:team4@ds4a-lbenetton-instance.c6qxfh7ops9d.us-east-2.rds.amazonaws.com/ds4a_team4', max_overflow=20) 
#engine=create_engine('postgresql://ec2-user@ec2-3-19-209-11.us-east-2.compute.amazonaws.com/postgres', max_overflow=20)

def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [2]:
df = runQuery("""
        SELECT * from itinerary limit 100000
;""")

In [3]:
df.head()

,intineraryid,created,packages,accepted,started,finished,city,status,type_vehicle,type_service,service_level,field11,field12
0,f690aa16-cf1e-e8f8-de2e-b2b7c12b350b,2020-03-12,1.00,None,None,None,Rio de Janeiro,cancelled,Moto,Presto,Start,None,2110
1,8ead3c43-8650-764f-5859-8e58aab0a31e,2020-03-12,1.00,None,None,None,Belo Horizonte,cancelled,Moto,Presto,Start,None,2250
2,d61c86a7-9e55-2f1b-2038-184ca5170567,2020-03-12,1.00,2020-03-12,2020-03-12,2020-03-12,Rio de Janeiro,finished,Moto,Presto,Start,None,2107
3,30001f7b-9443-b105-530a-572b71124336,2020-03-12,1.00,2020-03-12,2020-03-12,2020-03-12,S達o Paulo,finished,Moto,Presto,Prime,None,2121
4,fdb1fa76-dfb6-0864-e58d-1f1a71134ee4,2020-03-12,1.00,2020-03-12,2020-03-12,2020-03-12,S達o Paulo,finished,Moto,Presto,Prime,None,2945

In [9]:
df['status'].unique()

array(['cancelled', 'finished', 'dropped', 'merged',
       'cancelledWithCharge', 'started', 'awaiting_completion',
       'requires_verification', 'allocating', 'waiting_pick_up'],
      dtype=object)